@inherits LayoutComponentBase

<main>
  @Body
</main>

<footer class="text-center">
  <a href="https://github.com/void-type/FlappyBirdBlazor">
    Flappy Bird Blazor @version is open source!</a>
  <br />
  This re-creation of Flappy Bird is created in <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">.NET
    Blazor WebAssembly</a>.
  <br />
  This was created following <a href="https://github.com/blazorbuilds/Flappy-Bird">Erin Mclaughlin's Blazor tutorial</a>
  which itself is based on <a
     href="Ania Kubow's vanilla JavaScript project">https://github.com/kubowania/flappy-bird</a>.
</footer>

@code{

  private string version = ThisAssembly.AssemblyInformationalVersion.Split('+').FirstOrDefault() ?? "";
}
