@inherits LayoutComponentBase

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://avatars1.githubusercontent.com/u/3291875?s=88&v=4" width="30" height="30"
         class="d-inline-block align-top mr-1" alt="">void-type</a>
</nav>

<main>
  @Body
</main>

<footer class="text-center">
  <a href="https://github.com/void-type/FlappyBirdBlazor">
    Flappy Bird Blazor @version is open source!</a>
  <br />
  This re-creation of Flappy Bird is created in <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">.NET
    Blazor WebAssembly</a>.
  <br />
  That's a cross-platform video game running on .NET, purely in your browser! No Silverlight, ActiveX, Flash or
  Shockwave needed! What a time to be alive!
  <br />
  This was created following <a href="https://github.com/blazorbuilds/Flappy-Bird">Erin Mclaughlin's Blazor tutorial</a>
  which itself is based on <a
     href="Ania Kubow's vanilla JavaScript project">https://github.com/kubowania/flappy-bird</a>.
</footer>

@code{

  private string version = ThisAssembly.AssemblyInformationalVersion.Split('+').FirstOrDefault() ?? "";
}
