<div class="bird" style="@_css"></div>

@code {
    [Parameter]
    public BirdModel Model { get; set; }

    private string _css => $"left: {Model.Left}px; bottom: {Model.Bottom}px; height: {BirdModel.Height}px; width: {BirdModel.Width}px;";
}
