<div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeydown="HandleKeyDown">
  <div class="sky">
    <Bird Model="_gameManager.Bird"></Bird>
  </div>
  <div class="ground"></div>

  @foreach (var pipe in _gameManager.Pipes)
  {
    <Pipe Model="pipe"></Pipe>
  }
</div>

@code {

  GameManager _gameManager;

      protected override void OnInitialized()
      {
          _gameManager = new GameManager();
          _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
      }

      void HandleKeyDown(KeyboardEventArgs eventArgs)
      {
          if (eventArgs.Key == " ")
          {
              _gameManager.SpacePressed();
          }
      }
}
