  <div class="pipe" style="@_topCss"></div>
  <div class="pipe" style="@_bottomCss"></div>

@code {

  [Parameter] public PipeModel Model { get; set; }
      string _topCss => $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromGround}px;";
      string _bottomCss => $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromGround + 300 + Model.Gap}px;";
}
